@font-face {
    font-family: rounded-regular;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Regular.otf");
}

@font-face {
    font-family: rounded-bold;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Bold.otf");
}

@font-face {
    font-family: appetite-medium;
    src: url("./assets/fonts/AppetiteProMedium.otf");
}

@font-face {
    font-family: rounded-medium;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Medium.otf");
}

@font-face {
    font-family: rounded-light;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Light.otf");
}

p {
    font-family: rounded-medium;
    color: #5D2524;
}

a {
    font-family: rounded-medium;
}

.title-page {
    font-family: appetite-medium;
    color: #5D2524;
}

.title {
    font-size: 25px;
    color: #5D2524;
    p {
        font-family: rounded-bold;
    }
}

$brown-text: #5D2524;
$brown-bg: #5D2524;
$blue-bg: #4ABBC1;
$blue-text: #4ABBC1;
$yellow-bg: #FFF2D3;
.red-text {
    color: #FF2E47;
    font-family: rounded-bold;
}

.blue-text {
    color: #4ABBC1 !important;
}

.green-text {
    color: #5BBD76 !important;
}

.total-sum {
    b {
        font-size: 18px !important;
        letter-spacing: 0.03em;
    }
    span {
        font-size: 15px;
        letter-spacing: 0.03em;
    }
}

.small {
    span {
        font-size: 12px !important;
        text-decoration: line-through;
        line-height: 17px;
    }
}